In [1]:
from experiments.util import DataLoader
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([DataLoader("data").stats(d)[0] for d in [42900, 41945,37, 61,187,"player", "segmentation"]], columns=["Classes", "Instances", "Features", "Gini", "Entropy"])
df.insert(0,"Name",[r"\texttt{breast}",r"\texttt{ilp}",r"\texttt{diabetes}",r"\texttt{iris}",r"\texttt{wine}",r"\texttt{player}",r"\texttt{segmentation}"])
df.insert(5,"Task",["Breast cancer","Liver disease","Diabetes","Flower species","Wine origin","Football player position","Customer category"])

print(df.to_latex(index=False))
df

\begin{tabular}{lrrrrlr}
\toprule
Name & Classes & Instances & Features & Gini & Task & Entropy \\
\midrule
\texttt{breast} & 2 & 116 & 9 & 0.989298 & Breast cancer & 0.992267 \\
\texttt{ilp} & 2 & 583 & 10 & 0.817585 & Liver disease & 0.864090 \\
\texttt{diabetes} & 2 & 768 & 8 & 0.908746 & Diabetes & 0.933134 \\
\texttt{iris} & 3 & 150 & 4 & 1.000000 & Flower species & 1.000000 \\
\texttt{wine} & 3 & 178 & 13 & 0.987470 & Wine origin & 0.988555 \\
\texttt{player} & 4 & 3611 & 11 & 0.908684 & Football player position & 0.898645 \\
\texttt{segmentation} & 4 & 6665 & 9 & 0.999324 & Customer category & 0.999267 \\
\bottomrule
\end{tabular}

,Name,Classes,Instances,Features,Gini,Task,Entropy
0,\texttt{breast},2,116,9,0.989298,Breast cancer,0.992267
1,\texttt{ilp},2,583,10,0.817585,Liver disease,0.864090
2,\texttt{diabetes},2,768,8,0.908746,Diabetes,0.933134
3,\texttt{iris},3,150,4,1.000000,Flower species,1.000000
4,\texttt{wine},3,178,13,0.987470,Wine origin,0.988555
5,\texttt{player},4,3611,11,0.908684,Football player position,0.898645
6,\texttt{segmentation},4,6665,9,0.999324,Customer category,0.999267

In [4]:
DataLoader("data").stats(41945)

({'Entropy': 0.8640904272487623,
  'Gini': 0.8175845643724862,
  'Instances': 583,
  'Features': 10,
  'Classes': 2},
 array([167, 416]))